<div class="container-fluid">
    {{> page-heading heading="List of employee"}}
    <div class="row py-3">
        <div class="col">

            {{#if employee}}
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end mb-2 me-3">
                        <button type="button" name="credit-salary-btn" id="credit-salary" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#modalId" disabled>
                            Credit Salary
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th><input class="form-check-input" name="select-all-employee" id="select-all-employee"
                                type="checkbox"></th>
                        <th scope="col">#Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Joining Date</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Department</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employee}}
                    <tr>
                        <td>
                            <input class="form-check-input" name="selected-user-tick" type="checkbox"
                                value="{{this.id}}">
                        </td>
                        <th scope="row">{{index @index}}</th>
                        <td>{{capitalize this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{date this.joiningDate}}</td>
                        <td>{{capitalize this.gender}}</td>
                        <td>{{findName "department" this.department}}</td>
                        <td>{{findName "designation" this.designation}}</td>
                        <td id="update-salary">
                            <span id="list-salary">
                                {{#if this.salary}} {{this.salary}}
                                {{else}} - {{/if}}
                            </span>
                        </td>

                        <td>
                            <button class="btn btn-sm btn-outline-primary bi bi-pen" type="button" id="update-employee"
                                value="{{this.id}}">
                            </button>
                            <button class="btn btn-sm btn-outline-danger" type="button"
                                onclick="removeEmployee('{{this.id}}')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
                {{else}}

                <h3 class="text-center">No Record Found</h3>

                {{/if}}
            </table>
        </div>
    </div>
</div>