<div class="container-fluid">
    {{> page-heading heading="List of employee"}}
    <div class="row py-3">
        <div class="col">

            {{#if employee}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Joining Date</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Department</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employee}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{capitalize this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.joiningDate}}</td>
                        <td>{{capitalize this.gender}}</td>
                        <td>{{findName "department" this.department}}</td>
                        <td>{{findName "designation" this.designation}}</td>
                        <td>
                            {{#if this.salary}}
                            {{this.salary}}
                            {{else}}
                            -
                            {{/if}}
                        </td>

                        <td>
                            <button class="btn btn-sm btn-outline-primary" type="button" id="update-employee"
                                value="{{this.id}}">
                                <i class="bi bi-pen"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger" type="button"
                                onclick="removeEmployee('{{this.id}}')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
                {{else}}
                {{!--
                <hr> --}}
                <h3 class="text-center">No Record Found</h3>
                {{!--
                <hr> --}}
                {{/if}}
            </table>
        </div>
    </div>
</div>