<div class="container-fluid">
    {{> page-heading heading="Salary History"}}
    <div class="row py-4">
        <div class="col">
            <div class="d-flex justify-content-end mb-3 align-items-center gap-3">
                <div>
                    <select class="form-select" name="month-wise" id="month-wise-filter">
                        <option value="">All Months</option>
                        {{#each dateFilter}}
                        <option value="{{this}}" {{#compare this "==" ../filterApplied.month}}selected{{/compare}}>
                            {{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <select class="form-select" name="employee-wise" id="employee-wise-filter">
                        <option value="">All Employees</option>
                        {{#each employee}}
                        <option value="{{this.id}}" {{#compare this.id "=="
                            ../filterApplied.empId}}selected{{/compare}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" id="filter-button">Apply Filter</button>
                </div>
            </div>
            {{#if salaryData}}
            <div class="table-responsive">
                <table class="table table-hover" id="salary-history-table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Month</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each salaryData}}
                        <tr>
                            <th scope="row">{{index @index}}</th>
                            <td>{{capitalize this.name}}</td>
                            <td>{{this.salary}}</td>
                            <td>{{this.month}}</td>
                            <td>{{this.createdAt}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <h3 class="text-center">No Records Found</h3>
            {{/if}}
        </div>
    </div>
</div>